#display {
    height: 10rem;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    font-size: 5rem;
    padding-right: 20px;
}

#displayNumber {
    height: 23rem;
    background-color: rgba(0, 0, 0, 0.861);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    background-color: black;
    color: #fff;
    width: 350px;
    height: 50px;
    border-radius: 20px;
    font-size: 1.5rem;
    box-shadow: -8px -8px 15px;
    cursor: pointer;
}

.btn1 {
    background-color: black;
    color: #33ffd8;
    width: 720px;
    height: 50px;
    border-radius: 20px;
    font-size: 1.5rem;
    box-shadow: -8px -8px 15px;
    cursor: pointer;
}

.calculator,
.container,
.main,
.box {
    max-width: 100%;
}

button {
    min-width: 50px;
    min-height: 45px;
}

/* Display auto fit */
input,
#display {
    width: 100%;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .calculator,
    .container,
    .main,
    .box {
        width: 90%;
        margin: auto;
    }

    button {
        font-size: 1.1rem;
        padding: 10px;
    }

    input,
    #display {
        font-size: 1.3rem;
    }
}

@media (max-width: 480px) {
    .calculator,
    .container,
    .main,
    .box {
        width: 95%;
        padding: 10px;
    }

    button {
        font-size: 1rem;
        padding: 8px;
    }

    input,
    #display {
        font-size: 1.2rem;
        height: 45px;
    }
}

