#display {
    height: 10rem;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    font-size: 5rem;
    padding-right: 20px;
}

#displayNumber {
    height: 23rem;
    background-color: rgba(0, 0, 0, 0.861);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    background-color: black;
    color: #fff;
    width: 350px;
    height: 50px;
    border-radius: 20px;
    font-size: 1.5rem;
    box-shadow: -8px -8px 15px;
    cursor: pointer;
}

.btn1 {
    background-color: black;
    color: #33ffd8;
    width: 720px;
    height: 50px;
    border-radius: 20px;
    font-size: 1.5rem;
    box-shadow: -8px -8px 15px;
    cursor: pointer;
}
